@mixin input_bg {}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('assets/bg.png');
  background-size: contain;

  h1,
  h2,
  h3 {
    color: white;
  }

  main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;

    form {
      text-align: center;

      button,
      button:focus,
      button:focus-visible {
        background-color: #9acf61;
        margin-top: 1rem;
        color: white;
        outline: none;
      }

      button:hover {
        background-color: #81b04e;
      }

      .input-group {
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fcbc14;
          border-radius: 8px 0 0 8px;
          height: 100%;
          color: white;
          font-weight: bold;
          width: 20%;
        }

        option {
          color: black;
          background-color: white;
          font-size: larger;
          font-weight: 500;
        }

        input,
        input:focus-visible,
        select {
          color: rgba(255, 255, 255, 0.809);
          font-weight: bold;
          width: 80%;
          background-color: rgba(0, 0, 0, 0.194);
          backdrop-filter: blur(5px);
          border-radius: 0 8px 8px 0;
          height: 100%;
          border: none;
          outline: none;
          padding-left: 1rem;
        }
      }
    }

    section {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &.result {
        background-color: rgba(0, 0, 0, 0.092);
        backdrop-filter: blur(5px);
        height: 100%;
      }
    }
  }

  footer {
    height: 10vh;
  }
}