@import 'variables';

@mixin input_bg {}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('assets/bg.png');
  background-size: contain;

  h1,
  h2,
  h3 {
    color: white;
  }

  .go-up-button {
    display: none;
  }

  .error-message-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    position: fixed;
    left: 0;
    top: 0;
    margin: 2rem;
    z-index: 1000;

    .error-message {
      background-color: $red;
      border-radius: $border-radius;
      padding: .5rem 1rem;
      animation: slideFromLeft .2s linear;
      display: flex;
      align-items: center;
      gap: .5rem;

      span {
        display: grid;
        place-content: center;
        cursor: pointer;
        padding: .3rem .2rem;
        transition: all .2s linear;

        &:hover {
          transform: rotate(90deg);
          transition: all .2s linear;
        }
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 80vh;
    padding: 2rem;

    form {
      text-align: center;

      button,
      button:focus,
      button:focus-visible {
        background-color: #9acf61;
        margin-top: 1rem;
        color: white;
        outline: none;
      }

      button:disabled {
        background-color: rgb(185, 185, 185) !important;
        cursor: default;
      }

      button:hover:not {
        background-color: #81b04e;
      }

      .input-group {
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fcbc14;
          border-radius: 8px 0 0 8px;
          height: 100%;
          color: white;
          font-weight: bold;
          width: 20%;
        }

        option {
          color: black;
          background-color: white;
          font-size: larger;
          font-weight: 500;
        }

        input,
        input:focus-visible,
        select {
          color: rgba(255, 255, 255, 0.809);
          font-weight: bold;
          width: 80%;
          background-color: rgba(0, 0, 0, 0.194);
          backdrop-filter: blur(5px);
          border-radius: 0 8px 8px 0;
          height: 100%;
          border: none;
          outline: none;
          padding-left: 1rem;
        }
      }
    }

    section {
      width: $section-width;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &.result {
        background-color: rgba(0, 0, 0, 0.092);
        backdrop-filter: blur(5px);
        height: 80%;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .buses {
          list-style: none;
          padding: 0;
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
          justify-content: center;

          li {
            background-color: #fcbc14;
            border-radius: $border-radius;
            padding: .5rem;
            position: relative;

            &:before,
            &:after {
              content: '';
              display: block;
              position: absolute;
              border-radius: 50%;
              width: 1rem;
              height: 1rem;
              background-color: black;
            }

            &:before {
              bottom: -10px;
              left: 5px;
            }

            &:after {
              bottom: -10px;
              right: 5px;
            }
          }
        }
      }
    }
  }

  footer {
    text-align: center;
    color: white;
  }
}

@import 'responsive';